<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Systeme de Managemen des employes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <button class ="btn btn-outline-success"  data-bs-toggle="modal"  data-bs-target="#addEmployes" type="submit"> Add Employes</button>

          </div>
        </div>
      </nav>


      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">idEmployes</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">adress</th>
            <th scope="col">email</th>
            <th scope="col">cin</th>
            <th scope="col">phoneNumber</th>
            <th scope="col">posteOccupe</th>
            <th scope="col">Action </th>

            <td>   </td> <td>  </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employes of empList">
            <td>{{employes.idEmployes}}</td>
            <td>{{employes.firstName}}</td>
            <td>{{employes.lastName}}</td>
            <td>{{employes.adress}}</td>
            <td>{{employes.email}}</td>
            <td>{{employes.cin}}</td>
            <td>{{employes.phoneNumber}}</td>
            <td>{{employes.posteOccupe}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toogle ="modal"  data-bs-target="#editEmployes" (click)="editEmployes(employes)"> Edit </button>
                <button type="button" class="btn btn-outline-danger" > Delete </button> 
            </td>
          </tr>
        </tbody>
      </table>

  <!--  add employes Modal -->
  <div class="modal fade" id="addEmployes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Add new emplyee </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           
          <form [formGroup] ="empDetail" >

                <div class="mb-3">
                  <label for="exampleInputName" class="form-label">FirstName </label>
                  <input type="text" formContolName="firstName" class="form-control" id="firstName"  aria-describedby="firstNameHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label">LastName </label>
                  <input type="text" formContolName="lastName" class="form-control" id="lastName" aria-describedby="lastNameHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputAdress" class="form-label">Adresse </label>
                  <input type="text"  formContolName="adress" class="form-control" id="adress" aria-describedby="adressHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email </label>
                  <input type="email" formContolName="email" class="form-control" id="mail1" aria-describedby="emailHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputCni" class="form-label">CNI </label>
                  <input type="text" formContolName="cni" class="form-control" id="cni" aria-describedby="cniHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputPhoneNumber" class="form-label">PhoneNumber</label>
                  <input type="text"  formContolName="phoneNumber"class="form-control" id="phoneNumber">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Poste Occupe </label>
                  <input type="text" formContolName="posteOccupe"class="form-control" id="posteOccupe" aria-describedby="posteOccupeHelp">
                 
                </div>
              </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addEmployes()" > save </button>
                  </div>
              

        </div>
        
      </div>
    </div>
  </div>
<!-- edit employes modal-->
<div class="modal fade" id="editEmployes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit employes detail </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup] ="empDetail" >

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">FirstName </label>
            <input type="text" formContolName="firstName" class="form-control" id="firstName"  aria-describedby="firstNameHelp">
           
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">LastName </label>
            <input type="text" formContolName="lastName" class="form-control" id="lastName" aria-describedby="lastNameHelp">
           
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Adresse </label>
            <input type="text"  formContolName="adress" class="form-control" id="adress" aria-describedby="adressHelp">
           
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input type="email" formContolName="email" class="form-control" id="mail1" aria-describedby="emailHelp">
           
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">CNI </label>
            <input type="text" formContolName="cni" class="form-control" id="cni" aria-describedby="cniHelp">
           
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">PhoneNumber</label>
            <input type="text"  formContolName="phoneNumber"class="form-control" id="phoneNumber">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Poste Occupe </label>
            <input type="text" formContolName="posteOccupe"class="form-control" id="posteOccupe" aria-describedby="posteOccupeHelp">
           
          </div>
        </form>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success" (click)="addEmployes()" > update </button>
            </div>


       
      </div>
      

    </div>
  </div>
</div> 