<div class="container">
<div class="col-md-6 offset md-3">
    <h3> nouvelle  Transaction </h3>
    <form (ngSubmit) = "onSubmit()">
      <div class="form-group">
          <label> DatePayment</label>
          <input type="datetime" class="form-control" id ="datePayment" 
          [(ngModel)] = "transaction.datePayment" name ="datePayment">
  
      </div>
      <div class="form-group">
          <label> Moyen_Payment </label>
          <select class="form-control" (change)="onChangePay($event)">
            <option value= ''> payer_par </option>
             <option *ngFor="let item of payBy | keyvalue " value="{{item.value}}">{{item.value}}</option> 
          </select> 

         <!-- <input type="text" class="form-control" id ="statusPay" 
          [(ngModel)] = "transaction.statusPay" name ="statusPay"> -->
  
       </div>
      <div class="form-group">
        
         <label> Type </label>
         <select class="form-control" (change)="onChangeStatus($event)">
          <option value= ''> choix_Trans </option>
           <option *ngFor="let item of typeTrans | keyvalue " value="{{item.value}}">{{item.value}}</option> 
        </select> 
          <!-- <input type="text" class="form-control" id ="statusType"
          [(ngModel)] = "transaction.statusType" name ="statusType"> -->
   
       </div>
       <div class="form-group">
          <label> Description</label>
          <input type="text" class="form-control" id ="description"
          [(ngModel)] = "transaction.description" name ="description">
        </div>
        <div class="form-group">
            <label> Montant</label>
            <input type="number" class="form-control" id ="montant"
            [(ngModel)] = "transaction.montant" name ="montant">
          </div>

      <div class="form-group">
        <label> Employes </label>
        <select class="form-control" id="idEmployes"
        (change)="onChange($event)">
         <option value= 1> selectEmployes</option>
          <option *ngFor="let item of empList" value="{{item.idEmployes}}"> {{item.lastName}} {{item.firstName}}</option>    
      </select> 
        <!--  <input type="text" class="form-control" id ="employes"
          [(ngModel)] = "transaction.employes.idEmployes"  name ="employes">  --> 
      </div>
  
      <button class = "btn btn-success  mt-2" type= "submit">  Soumettre </button>
  
   </form>
  
  </div>

</div>
  
