
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a  routerLink = "/employes" routerLinkActive="active" class="nav-link  btn-success me-4"> Employes List</a>
        </li>
        <li class="nav-item">
            <a  routerLink = "create-employes" routerLinkActive="active" class="nav-link btn-success ">  AddEmployes</a>
        </li>

    </ul>
</nav>

<div class="container">
    <div  class="jumbotron text-center">
     <h1> {{title}}</h1> 
    </div>
 <!-- <app-dashboard> </app-dashboard>    -->
   <router-outlet>  </router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span> 2022@monsoko</span>

    </div>

</footer>