
<div class="container">
<h3> Details Transaction</h3>
<div>
    <div>
      <label> <b> datePayment: </b> </label> {{transaction.datePayment}}
    </div>
    <div>
        <label> <b> Moyen_Payment : </b> </label> {{transaction.statusPay}}
      </div>
      <div>
        <label> <b> Type : </b> </label> {{transaction.statusType}}
      </div>
      <div>
        <label> <b> Description: </b> </label> {{transaction.description}}
      </div>
      <div>
        <label> <b> Montant: </b> </label> {{transaction.montant}}
      </div>
      <div>
        <label> <b> Employes : </b> </label> 
        {{transaction.employes.firstName}}

        {{transaction.employes.lastName}}

        {{transaction.employes.adress}}

        {{transaction.employes.email}}

        {{transaction.employes.phoneNumber}}
        
        {{transaction.employes.postOccupe}}
      
      </div> 
      <div> 
        <button (click)="retourTrans(transaction.idTrans)" class ="btn-sm btn-infos btn-primary me-4"> retour </button> 
      </div> 
  </div>
</div> 

