<h3> View Employes Details </h3>

<div>
    <div>
      <label> <b> FirstName: </b></label>{{employes.firstName}}
    </div>
    <div>
        <label> <b> LastName: </b></label>{{employes.lastName}}
      </div>
      <div>
        <label> <b> Adress: </b></label>{{employes.adress}}
      </div>
      <div>
        <label> <b> Email: </b></label>{{employes.email}}
      </div>
      <div>
        <label> <b> CNI: </b></label>{{employes.cni}}
      </div>
      <div>
        <label> <b> PhoneNumber: </b></label>{{employes.phoneNumber}}
      </div>
      <div>
        <label> <b> PostOccupe: </b></label>{{employes.postOccupe}}
      </div>
     
</div>
