<div class="container">
  <h3> View Employes Details </h3>

  <div>
      <div>
        <label> <b> Nom: </b> </label> {{employes.firstName}}
      </div>
      <div>
          <label> <b> Prenom : </b> </label> {{employes.lastName}}
        </div>
        <div>
          <label> <b> Adress : </b> </label> {{employes.adress}}
        </div>
        <div>
          <label> <b> Email : </b> </label> {{employes.email}}
        </div>
        <div>
          <label> <b> Num_identite : </b> </label> {{employes.cni}}
        </div>
        <div>
          <label> <b> Num_telephone : </b> </label> {{employes.phoneNumber}}
        </div>
        <div>
          <label> <b> PostOccupe : </b> </label> {{employes.postOccupe}}
        </div>
        <div> 
          <button (click)="retourEmployes(employes.idEmployes)" class ="btn-sm btn-infos btn-primary me-4"> retour </button> 
        </div> 
       
  </div>
  
</div>